body {
    margin : 0;
    color : #F9F5FF;
    background-color: #170531;
}

a {
    color : #F9F5FF;
}

header {
    display : flex;
    flex-direction: row;
    background-color: #B90000;
    height : 24px;
    position: sticky;
    top : 0;
    width : 100%;
    margin-top : -16px;

}

.headerleft {
    width : 30%;
    height : 24px;
    background: var(--Degrad, linear-gradient(90deg, #090493 0%, #007D00 25%, #FFB20B 50%, #F70 75%, var(--Color, #B90000) 100%));
}

.headerright {
    width : 30%;
    height : 24px;
    background: var(--Degrad, linear-gradient(90deg, #B90000 0%, #F70 25%, #FFB20B 50%, #007D00 75%, var(--Color, #090493) 100%));
}

.headermiddle {
    z-index: 1;
    display : flex;
    flex-direction: row-reverse;
    align-items: center;
    width : 40%;
    height : 80px;
    min-width: 400px;
    background-color: #270B4E;
    border-style: solid;
    border-width: 4px;
    border-color: #3C1671;
    border-top: none;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.headerlogo  {
    display : flex;
    height : 100%;
    width : 100%;
    justify-content: center;
    align-items: center;
}

.headerlogo img {
    height : 67px;
}

.headercv {
    position : absolute;
    margin-right : 3%;
}

.headercv a {
    font-family: Lexend;
    font-size : 21px;
    text-decoration: none;
}



main {
    background-color: #170531;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 100px;
    min-height: 1200px;
}



.navbar {
    display : flex;
    flex-direction: row;
    background-color: #270B4E;
    position : sticky;
    bottom : 0;
    height : 48px;
}

.navnav {
    display : flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    margin-left : 40px;
    font-family: Atkinson Hyperlegible;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar img {
    height: 20px;
    margin-left : 8px;
}

.navcut {
    background-color : #170531;
    height : 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    width : 15%;
    margin-left : 50px;
}



footer {
    background-color: #270B4E;
    width : 100%;
    height : 200px;
    display : flex;
    border-color: #3C1671;
    border-width: 4px;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.footerleft {
    width : 25%;
    display : flex;
    align-items: center;
    justify-content: center;
}

.footerleft img {
    width: 120%;
}

.footermiddle {
    width : 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footergrille {
    margin-top: 50px;
    margin-bottom: 26px;
}

.footermiddle img {
    max-height : 100px;
}

.footercopyright {
    margin-bottom: 4px;
}

.footercopyright a{
    font-family: Atkinson Hyperlegible;
    text-decoration: none;
    color: #63468B;
}

.footerright {
    width : 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    ;
}

.footerright a {
    font-family: Atkinson Hyperlegible;
    text-decoration: none;
    font-size: 24px;
}

.footerright img {
    margin-left : 8px;
    height : 20px;

}
