.img {
    display: flex;
    flex-direction: row;
}

.img1, .img2 {
    width : 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.competences {
    display : flex ;
    flex-direction: row;
    flex-wrap: wrap;
    max-width : 100%;
    justify-content: space-evenly;
}

.domaine {
    background-color: #F9F5FF;
    border-radius : 24px;
    text-align: center;
    margin : 12px;
    min-height : 200px;
    min-width: 350px;
    width : 31%;
}

.compheader {
    background-color: #270B4E;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.compmain {
    color: #270B4E;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.compmain h5 {
    font-family: Atkinson Hyperlegible;
    font-weight: normal;
    font-size: 18px;
    margin : 0;
    margin-top: 12px;
}

.compmain ul {
    margin : 0;
}

.compmain h4 {
    font-family: Lexend;
    font-weight : bold;
    color: #270B4E;
    font-size : 16px;
    margin : 0;
    margin : 12px;
}

.competences h2 {
    font-family: Lexend;
    color: #F9F5FF;
    margin : 0;
}

.logiciels {
    min-width : 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logiciels img {
    height : 40px;
}

img.flstudio {
    height : 50px;
}

a.navcompetences {
    background-color: #F9F5FF;
    color : #170531;
}