.logiciels {
    display : flex;
    flex-direction: column;
    background-color : #3C1671;
    border-radius: 24px;
    text-align: center;
    padding-bottom: 12px;
}

.logiciels img {
    width : 18%;
    margin : 0.5%;
}

.logiciels h1 {
    font-family: Lexend;
    font-weight: 700;
}

.img {
    display: flex;
    flex-direction: row;
}

.img1, .img2 {
    width : 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.competences {
    display : flex ;
    flex-direction: row;
    flex-wrap: wrap;
    max-width : 100%;
    justify-content: space-evenly;
}

.softskills, .design, .musique, .audiovisuel, .communication, .uxui, .dev, .autres {
    background-color: #F9F5FF;
    border-radius : 24px;
    text-align: center;
    margin : 12px;
    min-height : 200px;
    min-width: 350px;
    width : 31%;
}

.compheader {
    background-color: #270B4E;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.competences h2 {
    font-family: Lexend;
    color: #F9F5FF;
    margin : 0;
}

.compmain {
    color: #270B4E;
    text-align: left;
    margin : 12px;
}

.compmain h5 {
    font-family: Atkinson Hyperlegible;
    font-weight: normal;
    font-size: 18px;
}

.competences h2 {
    font-family: Lexend;
    color: #F9F5FF;
    margin : 0;
}

@media screen and (max-width : 700px) {
    .img {
        flex-direction: column;
    }

    .img1, .img2 {
        width : 100%;
    }
}