main h1 {
    font-family : Lexend;
    text-align : center;
    font-size : 76px;
    margin : 0;
}

main h2 {
    font-family : Atkinson Hyperlegible;
    font-size : 24px;
    text-indent: 48px;
    margin-left: 24px;
    margin-right: 24px;

}

main h3 {
    font-family: Atkinson Hyperlegible;
    font-size : 20px;
    font-weight: 500;
}

.page {
    display : flex ;
    flex-direction: row;
}

.id {
    background-color : #3C1671;
    padding: 24px;
    border-radius: 24px;
    width : 25%;
    display: flex;
    flex-direction: column;
    align-items: center; margin-right: 24px;
}

.id img {
    width : 80%;
}

.id h3 {
    text-align: center;
    width : 80%;
}

.ensavoirplus {
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    background-color: #F9F5FF;
    padding: 12px;
}

.ensavoirplus h2 {
    margin : 0;
    color: #170531;
    margin-right: 8px;
    text-indent: 0;
}

.ensavoirplus img {
    width : 24px;
}

.competences {
    background-color: #F9F5FF;
    border-radius: 24px;
    padding : 24px;
    color: #170531;
    width : 68%;
    text-decoration: none;
    margin-bottom: auto;
}

.competences a {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-decoration: none;
}

.competences h3 {
    text-indent: 48px;
    font-size: 24px;
    text-decoration: none;
}

.competences .ensavoirplus {
    background-color: #170531;
    text-decoration: none;
}

.competences .ensavoirplus h2 {
    color: #F9F5FF;
    text-decoration: none;
}

a.navaccueil {
    background-color: #F9F5FF;
    color : #170531;
}