.cv img {
    border-radius: 16px;
    width : 75%;
}

.content {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width : 1100px) {
    .content {
        flex-direction: row;
    }
    .cv img {
        width : 90%;
        margin-right: 24px;
    }
}

.cv {
    display: flex;
    justify-content: center;
    margin-bottom : 24px;
}

.cvdl {
    background-color: #3C1671;
    text-align: center;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius : 24px;
    display : flex;
    align-items: center;
}

.cvdl a {
    text-decoration: none;
    font-family : Lexend;
    font-size : 36px;
}

.cvdl img {
    height : 36px;
    margin-left : 10px;
}