main h1 {
    font-family : Lexend;
    text-align : center;
    font-size : 76px;
    margin : 0;
}

.collection {
    display : flex ;
    flex-direction: row;
    flex-wrap: wrap;
    width : 100%;
    justify-content: space-evenly;
}

.projet {
    background-color: #F9F5FF;
    color: #270B4E;
    display: flex;
    border-radius : 24px;
    padding: 12px;
    margin : 12px;
    min-height : 200px;
    min-width: 350px;
    width : 29%;
}

.projet img {
    object-fit: contain;
    width : 35%;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left : 12px;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title img {
    width : 24px;
}

.projet a {
    color: black;
    font-family: Lexend;
    margin : 0;
    font-weight: 600;
    font-size : 24px;
    text-align: left;
    text-decoration: none;
}

.projet p {
    font-family: Atkinson Hyperlegible;
    margin : 0;
    text-align: left;
    margin-left: 12px;
}

a.navprojets {
    background-color: #F9F5FF;
    color : #170531;
}