main {
    display: flex;
    flex-direction: column;
}

main h1 {
    font-family: Lexend;
    font-size : 64px;
    color : #F9F5FF;
    margin-top : 0;
    margin-bottom : 24px;
}

main h2 {
    font-family: Lexend;
    font-size : 36px;
    color : #F9F5FF;
    margin-top : 0;
    margin-bottom : 24px;
    text-indent : 48px;
}

main p {
    font-family: Atkinson Hyperlegible;
    font-weight: 500;
    font-size : 20px;
    color : #F9F5FF;
    margin-top : 0;
    margin-bottom : 24px;
    text-indent : 48px;
}

main h3 {
    font-family: Atkinson Hyperlegible;
    font-style: italic;
    font-weight: 100;
    font-size : 24px;
    width : 70%;
    align-self: center;
    text-align: center;
    color: #8456c5;
    margin-top : 0;
    margin-bottom : 24px;
}

main img {
    max-width : 50%;
    align-self: center;
    margin-bottom : 24px;
}

main h4 {
    font-family: Lexend;
    color : #8456c5;
    font-size : 24px;
    align-self: center;
}